/* TodoList.css */

.todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0d3;

}


.todo-input {
    width: 75%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;

}

table {
    border-collapse: collapse;

}

table td {
    border: 1px solid black;
}

td {
    background-color: #ccc;

    color: black;
}

th {
    background-color: #515459;

    color: #fff;
}